.footer {
  background-color: aliceblue;
}

form {
  position: relative;
  display: flex;
  margin-left: 400px;
  padding-bottom: 40px;

}

.msginput {
  padding: 10px;
  padding: 30px;
  width: 100%;
  border-color: lightblue;
}

.sendBtn {
  color: lemonchiffon;
  background-color: rgb(12, 131, 12);
  width: 20%;
  padding: 30px;
  margin-right: 30px;
}